.content{
	margin-bottom: 3%;
	background-color: white;
}

.accordions{
	margin-top: 3%;	
}

.stock{
	border: #ccc solid 1px;
	padding: 3%;
	width: 90px;
}

.arrow-left{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}

.arrow-right{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}

.nav li a {
	text-decoration: none;
	color: darkgrey;
}

.panel-title a {
	text-decoration: none;
	color: #515151;
}

.panel-heading {
	border-radius: 0px;
}

.paket {
	color: #515151;
}

.paket h4 {
	color: #3f3f3f;
}

.paket th {
	background-color: #F9BF3B;
}

.paket th h4 {
	color: white;
}

.hasilPencarianDiv {
	background-color: white;
	padding-top: 30px;
	margin-bottom: 20px;
}

h4.infoHasilPencarian {
	color: #515151;
}

.detailHasilPencarian {
	color: #515151;
}

.tambahKeSimulasiHasilPencarian {
	margin-top: -35px;
}

.stockHasilPencarian {
	border: #ccc solid 1px;
	padding: 10px;
	width: 90px;
}

.hasilPencarianDiv .col-md-12 {
	margin-bottom: 20px;
}