.content{
	border: #CCC solid 1px;
	margin-bottom: 3%;
}

.accordions{
	margin-top: 3%;	
}

.stock{
	border:#ccc solid 1px;
	padding:3%;
	width:150px;
}

<<<<<<< HEAD
ul li {
	background-color: white;
}
=======
.arrow-left{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}

.arrow-right{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}
>>>>>>> a8e571826e3c0fb8cfab7986ba7f5be2ebd6299e
