.content{
	border: #CCC solid 1px;
	margin-bottom: 3%;
}

.accordions{
	margin-top: 3%;	
}

.stock{
	border:#ccc solid 1px;
	padding:3%;
	width:150px;
}

ul li {
	background-color: white;
}
.arrow-left{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}

.arrow-right{
	text-align: center;
	margin-top: 6%;
	font-size: 50px;
}
