@font-face {
	font-family: newone;
	src: url(../font/AstronBoyWonder.ttf);
}

body {
	background-color: #EEEEEE;
}

#header #logo h2 a {
	text-decoration: none;
	font-family: newone;
	font-size: 45px;
	color: white;
}

#header {
	padding: 10px;
	background-color: #52B3D9;
}

#logo {
	color: white;
}

#menuBar {
	margin-top: 20px;
	margin-left: -20px; 
}

#topTab {
	list-style-type: none;
	width: 100%;
	position: relative;
	height: 27px;
	font-weight: bold;

}

#topTab li a {
	display: inline-block;
	float: left;
	color: white;
	text-decoration: none;
	padding: 8px 12px 2px 12px;
	height: 35px;
	list-style-position:inside;
	border-bottom: 1px solid white;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
}

#topTab li a:hover {
	background-color: #F9BF3B;
	color :#cc5200;
}

#topTab li .active {
	border-bottom:3px #F9BF3B solid;
}

#info {
	margin-left: 20px;
}

#info div {
	color: white;
	margin-left: 80px;
}

#info div a {
	text-decoration: none;
	color: white;
}

#info div{
	text-decoration: none;
	width: 250px;
	margin-left: -13px;

}

#info .btn-danger {
 background-image: linear-gradient(to bottom,#52B3D9 0,#52B3D9 100%);
 border-color: #52B3D9;
 box-shadow: inset 0 0px 0 rgba(255,255,255,.15),0 0px 0px rgba(0,0,0,.075);
}

#info .btn-danger:focus, .btn-danger:hover, .btn-danger:active{
    background-color: #52B3D9;
   
}



#info .item p{
	color:#fff;
}
#info .dropdown-menu {
	
	background-color: #52B3D9;
	
}

#info .dropdown-menu li #totalharga{
	
	margin:20px;
	padding:10px;
	border:1px solid #ccc;
	
}

#info .dropdown-menu .limit{
	
	height: 200px;
	margin-left: 0.5px;
	overflow-y: scroll;

	
}


#info .dropdown-menu .limit p{
	
	margin:10px;

	
}