.promo {
	padding-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.promo h4 {
	border: #ccc solid 3px;
	border-radius:  5px;
	width: 190px;
	padding: 10px;
	text-align: center;
}
strike{
	color:#ff0000;
	font-weight: bold;
}
